<a href="https://colab.research.google.com/github/reddyanahitha/walmart-sales-machine-learning/blob/main/D10_LU2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.3.4'

### Series

In [ ]:
ser = pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
import numpy as np
y = np.array([1,2,3,4,5])
ser1 = pd.Series(y)
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [ ]:
ser1.values

array([1, 2, 3, 4, 5])

In [ ]:
d = {"One":1, "two":2,"three":3}
z = pd.Series(d)

In [ ]:
z

One      1
two      2
three    3
dtype: int64

### DataFrame

In [ ]:
df = pd.DataFrame([10,20,30,40])
df

    0
0  10
1  20
2  30
3  40

In [ ]:
df = pd.DataFrame([10,20,30,40], index = ["a","b","c","d"], columns = ["col_a"])
df

   col_a
a     10
b     20
c     30
d     40

In [ ]:
data = [{"a":10,"b":20}, {"a":45,"b":30,"c":50} ]
df = pd.DataFrame(data, index=["x","y"])
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

    a   b     c
x  10  20   NaN
y  45  30  50.0